@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  h2,
  h3 {
    @apply font-Playfair;
  }
  .widest {
    @apply max-w-screen-2xl mx-auto;
  }
  .inside {
    @apply mx-auto lg:w-10/12 px-4 md:px-6 lg:px-0;
  }
  .buttonIcon {
    @apply w-5 h-5 text-mainOrange hover:text-mainOrange-dark fill-current;
  }
}

html,
body {
  padding: 0;
  margin: 0;
  background-color: #ffffff;
  font-family: Roboto, sans-serif;
}
* {
  box-sizing: border-box;
}

.slick-arrow {
  z-index: 1;
}
.slick-dots {
  z-index: 1;
  margin-bottom: 40px !important;
}
.slick-dots li button::before {
  color: white !important;
  font-size: 12px !important;
}
.slick-slide {
  padding: 5px;
}
