@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  * {
    @apply font-roboto;
  }
  p {
    @apply font-roboto text-mainText;
  }

  h2,
  h3 {
    @apply font-playfair text-mainText;
  }
  .widest {
    @apply max-w-screen-2xl mx-auto;
  }
  .inside {
    @apply mx-auto max-w-screen-xl px-0 md:px-9;
  }
}

.slick-arrow {
  z-index: 1;
}
.slick-prev {
  margin-left: 35px;
}
.slick-next {
  margin-right: 35px;
}
.slick-dots {
  z-index: 1;
  margin-bottom: 40px !important;
}
.slick-dots li button::before {
  color: white !important;
  font-size: 12px !important;
}
